@model IShop.Models.DishCategory

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить</h2>

<h3>Вы уверенны что хотите удалить эту категорию?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к категориям", "Index")
        </div>
    }
</div>
