@model IShop.Models.DishCategory

@{
    ViewBag.Title = "Details";
}

<h2>Подробнее</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("Вернуться к категориям", "Index")
</p>
